@{
    ViewData["Title"] = "ContactUs";
}


<div class="text-center">
    <h1 class="display-4">Contact Us</h1>
    <br />
    <br />

    <h1 class="display-6">Address</h1>
    <p>144 Peter Road Ruimsig</p>


    <br />
    <br />


    <h1 class="display-6">Contact Email</h1>
    <p>abcretail@gmail.com</p>

    <br />
    <br />

    <h1 class="display-6">Contact Number</h1>
    <p>+27 76 626 7845</p>

    <br />
    <br />

    <h1 class="display-6">Operational Hours</h1>

    <ul>
        <li>
            Monday-Friday: 08h00-17h00
        </li>
        <li>
            Weekends and Public Holidays: 08h00-12h00
        </li>
    </ul>
    <br />
    <br />


    <h1 class="display-6">Enquirues</h1>
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeNQV576gyuvuK-pxi7jrAaYT0Gxc0xw4dt3sXtOy93esrNFw/viewform?embedded=true" width="540" height="732" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    <br />
    <br />
    <h1 class="display-6">Our Location</h1>

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3583.331746459214!2d27.8711314!3d-26.088087299999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1e959ef3e4136a4b%3A0xa02690b870829d94!2s144%20Peter%20Rd%2C%20Ruimsig%2C%20Roodepoort%2C%201724!5e0!3m2!1sen!2sza!4v1756809212455!5m2!1sen!2sza" width="400" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>


</div>



