@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To ABC Retailers!</h1>

    <a href="/Customer/Index" class="btn" style="background-color: rgb(65, 132, 225); color: rgb(0, 229, 255);"> Customers</a>

    <a href="/Product/Index" class="btn" style="background-color: rgb(65, 132, 225); color: rgb(0, 229, 255);"> Products</a>

    <a href="/Order/Index" class="btn" style="background-color: rgb(65, 132, 225); color: rgb(0, 229, 255);"> Orders</a>

    <a href="/Upload/Index" class="btn" style="background-color: rgb(65, 132, 225); color: rgb(0, 229, 255);"> Upload a document</a>

   
</div>
