@model List<CLVD6212_POE.Models.Product>
@{
    ViewData["Title"] = "Home Page";
}
<style>

    .btn {
        padding: 12px 25px;
        background-color: rgba(255, 255, 255, 0.2);
        color: white;
        text-decoration: none;
        border-radius: 30px;
        font-weight: 600;
        transition: all 0.3s ease;
        border: 2px solid rgba(255, 255, 255, 0.3);
    }


</style>


<div class="text-center">
    <h1 class="display-4">Welcome To ABC Retailers!</h1>

    <a href="/Customer/Index" class="btn" style="background-color: rgb(65, 132, 225); color: rgb(0, 229, 255);"> Customers</a>

    <a href="/Product/Index" class="btn" style="background-color: rgb(65, 132, 225); color: rgb(0, 229, 255);"> Products</a>

    <a href="/Order/Index" class="btn" style="background-color: rgb(65, 132, 225); color: rgb(0, 229, 255);"> Orders</a>

    <a href="/Upload/Index" class="btn" style="background-color: rgb(65, 132, 225); color: rgb(0, 229, 255);"> Upload a document</a>
  
</div>

